---
const currentYear = new Date().getFullYear();
---

<footer class="bg-gradient-to-b from-[#5146E0] to-[#8578E8] text-white py-4 text-center shadow-md">
  <div class="container mx-auto">
    <p class="text-base font-semibold tracking-wide">&copy; {currentYear} SkinVision. All rights reserved.</p>
    <p class="text-sm mt-1 text-gray-200">Empowering skincare with AI-driven insights.</p>
  </div>
</footer>
